<h1>投稿の詳細ページ</h1>
<% if @a = Post.find_by(id: params[:id]) %>
<a>投稿内容：「</a><%= @a.content %><a>」</a></br>
<a>投稿時間：</a><%= @a.created_at %></br>
<%= link_to "削除","/posts/destroy/#{@a.id}", method: :delete %>
<% else %>
<a>みす</a>
<% end %>