/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
  background-color: #ffaf58;
  height: 25px;
}

body {
  background-image: url("/back.jpg");
  background-size: cover;
  background-attachment: fixed;
  width:820px;
  
}
 
/* menu */

.menu li {
  float: left;
  padding: 0px 30px;
  list-style: none;
  
}

h1 {
    padding: 0.5em;/*文字周りの余白*/
  color: #494949;/*文字色*/
  background: #fffaf4;/*背景色*/
  border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
}

.post {
  color: #364e96;/*文字色*/
  border: solid 3px #ffaf58;/*線色*/
  padding: 0.5em;/*文字周りの余白*/
  border-radius: 0.5em;/*角丸*/
  background-color:rgba(255,255,255,0.75);/*背景色*/
}

.mail_post{
    color: #505050;/*文字色*/
  padding: 0.5em;/*文字周りの余白*/
  display: inline-block;/*おまじない*/
  line-height: 1.3;/*行高*/
  background-color:rgba(255,255,255,0.75);/*背景色*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
}

.mail_post:before {
  content: '●';
  color: #ffaf58;
  margin-right: 8px;
}

.paginate li {
  font-size: 11px;
  float: left;
  padding: 2.5px;
  list-style: none;
  background-color:rgba(255,255,255,0.75);
}

.footer {
  float: right;
  background-color:rgba(255,255,255,0.75);
  font-size: 10px;

  width: 300px;
  height: 35px;
  text-align: center;
}